[package]
name = "graphile_worker_migrations"
version = "0.4.10"
edition = "2021"
license-file = "LICENSE.md"
description = "Migrations package for graphile_worker, a high performance Rust/PostgreSQL job queue"
homepage = "https://docs.rs/graphile_worker_migrations"
documentation = "https://docs.rs/graphile_worker_migrations"
repository = "https://github.com/leo91000/graphile_worker/crates/migrations"
keywords = []
categories = []
readme = "README.md"

[features]
default = ["tls-rustls"]
tls-rustls = ["sqlx/tls-rustls"]
tls-native-tls = ["sqlx/tls-native-tls"]

[dependencies]
sqlx.workspace = true
tracing.workspace = true
indoc.workspace = true
thiserror.workspace = true

[dev-dependencies]
tokio = { workspace = true }
