[package]
name = "archimedes_migrations"
version = "0.3.0"
edition = "2021"
license-file = "LICENSE.md"
description = "Migrations package for archimedes, a high performance Rust/PostgreSQL job queue"
homepage = "https://docs.rs/archimedes_migrations"
documentation = "https://docs.rs/archimedes_migrations"
repository = "https://github.com/leo91000/archimedes/crates/migrations"
keywords = []
categories = []
readme = "README.md"

[features]
default = ["runtime-tokio-native-tls"]
runtime-tokio-rustls = ["sqlx/runtime-tokio-rustls"]
runtime-tokio-native-tls = ["sqlx/runtime-tokio-native-tls"]

[dependencies]
sqlx = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]
tokio = { workspace = true }
