[package]
name = "archimedes_crontab_runner"
version = "0.4.0"
edition = "2021"
license = "MIT"
description = "Crontab runner package for archimedes, a high performance Rust/PostgreSQL job queue"
homepage = "https://docs.rs/archimedes_crontab_runner"
documentation = "https://docs.rs/archimedes_crontab_runner"
repository = "https://github.com/leo91000/archimedes/crates/crontab_runner"
keywords = []
categories = []
readme = "README.md"

[features]
default = ["runtime-tokio-native-tls"]
runtime-tokio-rustls = ["sqlx/runtime-tokio-rustls", "tokio"]
runtime-tokio-native-tls = ["sqlx/runtime-tokio-native-tls", "tokio"]

[dependencies]
archimedes_crontab_types = { path = "../crontab_types" , version = "0.4.0" }
archimedes_shutdown_signal = { path = "../shutdown_signal" , version = "0.2.2" }
chrono = { version = "0.4.24", features = ["serde"] }
sqlx = { version = "0.6.2", features = ["chrono", "postgres", "json"] }
thiserror = "1.0.40"
serde = { version = "1.0.158", features = ["derive"] }
serde_json = "1.0.94"
getset = "0.1.2"
tracing = "0.1.37"
once_cell = "1.17.1"
tokio = { version = "1.26.0", features = ["time"], optional = true }
archimedes_crontab_parser = { version = "0.4.0" }
