[package]
name = "archimedes_crontab_runner"
version = "0.1.0"
edition = "2021"
license = "MIT"
description = "Crontab runner package for archimedes, a high performance Rust/PostgreSQL job queue"
homepage = "https://docs.rs/archimedes_crontab_runner"
documentation = "https://docs.rs/archimedes_crontab_runner"
repository = "https://github.com/leo91000/archimedes/crates/crontab_runner"
keywords = []
categories = []
readme = "README.md"

[features]
default = ["runtime-tokio-native-tls"]
runtime-tokio-rustls = ["sqlx/runtime-tokio-rustls", "tokio"]
runtime-tokio-native-tls = ["sqlx/runtime-tokio-native-tls", "tokio"]

[dependencies]
archimedes_crontab_types = { path = "../crontab_types", version = "0.1.0" }
chrono = { version = "0.4.23", features = ["serde"] }
sqlx = { version = "0.6.2", features = ["chrono"] }
thiserror = "1.0.38"
serde = { version = "1.0.151", features = ["derive"] }
serde_json = "1.0.91"
getset = "0.1.2"
tracing = "0.1.37"
once_cell = "1.16.0"
tokio = { version = "1.23.0", features = ["time"], optional = true }
