[package]
name = "graphile_worker_crontab_runner"
version = "0.5.0"
edition = "2021"
license-file = "LICENSE.md"
description = "Crontab runner package for graphile worker, a high performance Rust/PostgreSQL job queue"
homepage = "https://docs.rs/graphile_worker_crontab_runner"
documentation = "https://docs.rs/graphile_worker_crontab_runner"
repository = "https://github.com/leo91000/graphile_worker/crates/crontab_runner"
keywords = []
categories = []
readme = "README.md"

[features]
default = ["runtime-tokio-native-tls"]
runtime-tokio-rustls = ["sqlx/runtime-tokio-rustls", "tokio"]
runtime-tokio-native-tls = ["sqlx/runtime-tokio-native-tls", "tokio"]

[dependencies]
graphile_worker_crontab_types = { path = "../crontab_types", version = "0.5.0" }
graphile_worker_shutdown_signal = { path = "../shutdown_signal", version = "0.3.0" }
chrono = { workspace = true }
sqlx = { workspace = true }
thiserror = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
getset = { workspace = true }
tracing = { workspace = true }
once_cell = { workspace = true }
tokio = { workspace = true, features = ["time"], optional = true }
